// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$action-color: #477DCA;
.glyphicon-user {
  font-size: 2em;
  margin: auto;
  margin-top: 5px;
  margin-right: 2em;
  margin-left: 1em;
}

.navbar {
  padding: 1em;
  background: black;
  color: white;
}
.action {
  background: $action-color;
  color: white;
}
